.popover {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.popover-title {
  color: #333;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.sec-3 {
  background: blueviolet;
}

.popover-content {
  padding: 9px 14px;
}
